<h3>{{ title }}</h3>
{% for row in list %}
    <img src="http://image.vgr-fr.com/badge/{{ row.getBadge().getPicture() }}" alt="{{ row.getBadge().getType() }} Badge" title="{{ row.getBadge().getType() }} Badge" />
{% endfor %}