<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="KERNEL_CLASS" value="VideoGamesRecords\CoreBundle\Tests\Kernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <env name="SHELL_VERBOSITY" value="1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="84c13af6518079b7da0984d80ed58258"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ aws/aws-sdk-php-symfony ### -->
        <env name="AWS_KEY" value="not-a-real-key"/>
        <env name="AWS_SECRET" value="@@not-a-real-secret"/>
        <!-- ###- aws/aws-sdk-php-symfony ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL=" value="mysql://vgr:vgr@127.0.0.1:3306/vgr-test" />
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ symfony/lock ### -->
        <!-- Choose one of the stores below -->
        <env name="LOCK_DSN" value="flock"/>
        <!-- ###- symfony/lock ### -->
    </php>

    <testsuites>
        <testsuite name="VGR Core Bundle Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>