<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <env name="KERNEL_CLASS" value="VideoGamesRecords\CoreBundle\Tests\Kernel"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <env name="SHELL_VERBOSITY" value="1"/>
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="test"/>
    <env name="APP_SECRET" value="84c13af6518079b7da0984d80ed58258"/>
    <!-- ###- symfony/framework-bundle ### -->
    <!-- ###+ aws/aws-sdk-php-symfony ### -->
    <env name="AWS_KEY" value="not-a-real-key"/>
    <env name="AWS_SECRET" value="@@not-a-real-secret"/>
    <!-- ###- aws/aws-sdk-php-symfony ### -->
    <!-- ###+ doctrine/doctrine-bundle ### -->
    <env name="DATABASE_URL=" value="mysql://vgr:vgr@127.0.0.1:3306/vgr-test"/>
    <!-- ###- doctrine/doctrine-bundle ### -->
    <!-- ###+ symfony/lock ### -->
    <!-- Choose one of the stores below -->
    <env name="LOCK_DSN" value="flock"/>
    <!-- ###- symfony/lock ### -->

    <!-- ###+ google/apiclient ### -->
    <env name="GOOGLE_API_KEY" value=""/>
    <env name="GOOGLE_CLIENT_ID" value=""/>
    <env name="GOOGLE_CLIENT_SECRET" value=""/>
    <env name="GOOGLE_AUTH_CONFIG" value="%kernel.project_dir%/path/to/file.json"/>
    <!-- ###- google/apiclient ### -->

        <!-- ###+ symfony/routing ### -->
        <!-- Configure how to generate URLs in non-HTTP contexts, such as CLI commands. -->
        <!-- See https://symfony.com/doc/current/routing.html#generating-urls-in-commands -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
        <!-- ###- symfony/messenger ### -->
  </php>
  <testsuites>
    <testsuite name="VGR Core Bundle Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
