<a target="_blank" class="btn btn-sm btn-default" href="{{ path('vgr_chart_index', {
    'id': object.getPlayerChart().getChart().id, 'slug': object.getPlayerChart().getChart().getSlug()
}) }}">chart</a>