{% extends 'base.html.twig' %}

{% block body_id 'team_change_leader' %}

{% block body %}

    <h2>Change leader</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}